<div class="big-card__container">
    <a href="#">
        <div class="big-card__photo">
            <img src="https://source.unsplash.com/random/" alt="Imagem aleatória">
        </div>
        <div class="big-card__data">
            <p>Janeiro 18, 2023</p>
        </div>
        <div class="big-card__title">
            <h1>Lorem ipsum dolor sit amet</h1>
        </div>
        <div class="big-card__description">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vel nibh maximus, elementum ligula ac, porttitor turpis. Phasellus ut nisi diam.</p>
        </div>
    </a>
</div>

