<div class="small-card__container">
    <div class="small-card__container-content">
        <div class="small-card__photo">
            <a [routerLink]="['content', id]">
                <img src="{{ photoCover }}" alt="Imagem aleatória">
            </a>
        </div>
        <div class="small-card__info">
            <div class="small-card__data">
                <p>{{ cardData }}</p>
            </div>
            <div class="small-card__title">
                <h1>
                    <a [routerLink]="['content', id]">{{ cardTitle }}</a>
                </h1>
            </div>
        </div>
    </div>
    
    <div class="small-card__container-separator">
        <hr>
    </div>
</div>
