.small-card__container {
    margin: 0 1rem;
    width: 500px;
}

.small-card__container-content {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.small-card__photo {
    overflow: hidden;
    border-radius: 4px;
    width: 200px;
    min-width: 200px;
}

.small-card__photo img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 4px;
    transition: scale 400ms;
}

.small-card__photo:hover img {
    scale: 120%;
}

.small-card__data p {
    margin-bottom: 10px;
    font-size: .8rem;
    color: grey;
}

.small-card__title h1 {
    font-size: 1rem;
}

.small-card__container-separator {
    margin: 1rem 0;
}

.small-card__container-separator hr {
    border: none;
    border-top: solid #1f1f1f 1px;
}

/* Mobile */

@media (max-width: 1024px) {
    .small-card__container {
      width: calc(100vw - 10vw);
    }

    .small-card__container-content {
        flex-direction: row-reverse;
    }

    .small-card__title h1 {
        font-size: 1.4rem;
    }
}

@media (max-width: 480px) {
    .small-card__photo {
        min-width: 150px;
    }

    .small-card__photo img {
        height: 100px;
    }

    .small-card__data p {
        margin-bottom: 5px;
        font-size: .7rem;
    }

    .small-card__title h1 {
        font-size: .9rem;
    }
}

@media (max-width: 280px) {
    .small-card__photo img {
        height: 90px;
    }

    .small-card__data p {
        margin-bottom: 4px;
        font-size: .5rem;
    }

    .small-card__title h1 {
        font-size: .7rem;
    }
}