<header>
    <app-menu-bar></app-menu-bar>
</header>
<app-menu-title class="title"></app-menu-title>
<div class="articles__container">
    <div class="articles__main">
        <app-big-card 
            photoCover="https://www.cinea.com.br/storage/noticias/131436202311156554ee6c7cca9.jpg"
            cardData="Janeiro 16, 2024"
            cardTitle="Wonka chega às plataformas digitais em Janeiro"
            cardDescription="A partir do dia 21 de janeiro, o novo sucesso Wonka, estará disponível nas principais plataformas digitais para compra e aluguel."
        ></app-big-card>
    </div>
    <div class="articles__others">
        <app-small-card 
            photoCover="https://lumiere-a.akamaihd.net/v1/images/hb_disneywish_wishtogethermicrosite_mobile_2481_4ba3233f.jpeg?region=0,0,1024,768&width=960"
            cardData="Janeiro 08, 2024"
            cardTitle="Animação &quot;Wish: O Poder dos Desejos&quot; chega aos cinemas"
        ></app-small-card>
        <app-small-card
            photoCover="https://lumiere-a.akamaihd.net/v1/images/elemental_bport_765442cf.png"
            cardData="Dezembro 18, 2023"
            cardTitle="5 motivos para assistir o filme &quot;Elementos&quot;"
        ></app-small-card>
        <app-small-card
            photoCover="https://t2.tudocdn.net/667208?w=1920"
            cardData="Novembro 17, 2023"
            cardTitle="&quot;Duna: Parte 2&quot;, será lançado em Março"
        ></app-small-card>
    </div>
</div>