.articles__container {
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

header {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

/* Mobile */

@media (max-width: 1024px) {
    .articles__container {
        margin-top: 1.5rem;
        flex-wrap: wrap;
        gap: 1rem;
    }
}